@model Entity.Concrete.Heading
@{
    ViewBag.Title = "NewHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<form class="form-group" method="post">
    <input type="text" placeholder="Başlık Adı" name="HeadingName" class="form-control" />
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-outline-primary">Kaydet</button>
</form>
<br />


