
@{
    ViewBag.Title = "AddWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<form class="form-group" method="post">
    <input type="text" placeholder="Yazar Adı" name="WriterName" class="form-control" />
    <input type="text" placeholder="Yazar SoyAdı" name="WriterSurName" class="form-control" />
    <input type="text" placeholder="Yazar Resmi" name="WriterImage" class="form-control" />
    <input type="text" placeholder="Yazar Mail" name="WriterMail" class="form-control" />
    <input type="text" placeholder="Yazar Şifre" name="WriterPassword" class="form-control" />
    <input type="text" placeholder="Yazar Hakkında" name="WriterAbout" class="form-control" />
    <br />
    <button class="btn btn-sm btn-outline-primary">Ekle</button>
</form>
<br />


